*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thin */
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight */
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}


/* Bold */
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans';
  src: url('fonts/WorkSans/WorkSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

.hello {
    width: 100%;
    height: 800px;
    background-color: #2B2B2B;
}


.hello-world  {
    font-weight: 600;
    position: absolute;
    color: aliceblue;
    margin-top: 100px;
    margin-left: 100px;
}

.btn button {
    position: absolute;
    margin-left: 1300px;
    margin-top: 120px;
    padding: 12px 50px;
    border-radius: 20px;
    border: 3px solid rgb(78, 1, 111);
    background-color: #2B2B2B;
    color: azure;
}
button:hover {
   background: rgb(0, 36, 36);
   cursor: pointer;
}
.koz {
    position: absolute;
    margin-left: 1326px;
    margin-top: 133px;
}

.pic {
    position: absolute;
    margin-left: 100px;
   width: 330px;
   height: 430px;
   background-color: rgb(57, 52, 52);
   margin-top: 200px;
   border-radius: 13px;
}

.picture {
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
}

.h2 {
    color: white;
    position: absolute;
    margin-left: 130px;
    margin-top: 500px;
}

span {
    margin-left: 30px;
}

.img {
    position: absolute;
    margin-top: -2px;
    right: 95px;
}

.salom {
    position: absolute;
    margin-top: 560px;
    margin-left: 130px;
    color: rgb(33, 33, 33);
}    

h4 {
  color: white;  
  margin: 3px;
}

.world {
    position: absolute;
    color: rgb(33, 33, 33);
    margin-top: 560px;
    margin-left: 300px;
}

h2 {
    margin-top: 3px;
    font-size: 17px;
    color: white;
}

.salomla {
    position: absolute;
   margin-left: 470px;
   width: 330px;
   height: 430px;
   background-color: rgb(57, 52, 52);
   margin-top: 200px;
   border-radius: 13px;
}

.box {
    position: absolute;
    margin-top: 200px;
    margin-left: 470px;
}

.content {
    position: absolute;
    margin-top: 500px;
    margin-left: 500px;
}
h3 {
    color: white;
}
span {
    color: white;
}
.class {
    position: absolute;
    margin-top: 558px;
    margin-left: 500px;
}

p {
    color: rgb(28, 27, 27);
}

.charset {
    position: absolute;
    margin-top: 558px;
    margin-left: 680px;
}

h5 {
    color:  rgb(28, 27, 27);
}

.right {
   position: absolute;
   margin-left: 840px;
   width: 330px;
   height: 430px;
   background-color: rgb(57, 52, 52);
   margin-top: 200px;
   border-radius: 13px;
}

.left {
    position: absolute;
    margin-top: 200px;
    margin-left: 840px;
}

.top  {
    color: white;
    position: absolute;
    z-index: 1;
    margin-left: 870px;
    margin-top: 500px;
}
span {
    margin-top: -10px;
    margin-right: -90px;
}

.category-container {
  position: absolute;
  margin-left: 870px;
  margin-top: 520px;
}

.container {
  position: absolute;
  margin-left: 870px;
  margin-top: 558px;
}

.camera {
  position: absolute;
  margin-top: 558px;
  margin-left: 1050px;
}

.p1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2B2B2B;
  height: 650px;

}


.full {
  width: 100vw;
  height: 300vh;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: cover;
  height: 100%;
  height: 100vh;
}

.p5 {
  margin-left: 100px;
  margin-top: -200px;
  color: white;
}

.button button {
  margin-left: 100px;
  margin-top: 20px;
  padding: 15px 60px;
  border-radius: 20px;
  border: none;
}

.ful {
  margin-left: 130px;
  margin-top: -33px;
}
 
/* .pp {
  width: 300px;
  height: 200px;
  background-color: #ff0000;
  
  margin-top: 500px; */

.pp button {
  width: 300px;
  height: 170px;
  background-color: #3B3B3B80;
  margin-left: 1100px;
  margin-top: -210px;
  border-radius: 10px;
  border: none;
}

.p9 {
  margin-left: 1140px;
  margin-top: -140px;
}

.soat  {
  margin-left: 1140px;
   margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  
}

.mom  {
  display: flex;
  margin-left: 1140px;
  gap: 20px;
  color: white;
}

p {
  color: white;
}

.help {
  width: 100%;
  height: 800px;
  background-color: #2B2B2B;
}

.helo {
  position: absolute;
  margin-top: 200px;
  margin-left: 100px;
  color: white;
}

h1 {
  padding: 10px;
}

.p11 {
  position: absolute;
  width: 360px;
  height: 400px;
  margin-left: 100px;
  margin-top: 340px;
  background-color: #333333;
  border-radius: 15px;
}

.imgd {
  margin-left: 50px;
}

.h7 {
  margin-left: 50px;
  color: white;
}

.p {
   word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
   margin-left: 10px;
}

.p12 {
  position: absolute;
  width: 360px;
  height: 400px;
  margin-left: 500px;
  margin-top: 340px;
  background-color: #333333;
  border-radius: 15px;
}

.imgh {
  margin-left: 60px;
}

.h8 {
  margin-left: 50px;
  color: wheat;
}

.po {
     word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
   margin-left: 10px;
}

.p13 {
  width: 360px;
  height: 400px;
  margin-left: 400px;
  margin-top: -350px;
  background-color: #333333;
  border-radius: 15px;
}

.p14 {
  margin-left: 60px;
}

.p14 {
  margin-left: 60px;
  color: white;
}

.p15 {
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
   margin-left: 10px;
}
